
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin:0;
}

.maintitle{
    font-size: xx-large;
    font-style: oblique;
    color: rgb(237, 11, 116)
}

.bi {
    font-size: xx-large;
}

.searchbox{
    display: flex;
    border-radius: 50px;
    padding: 10px 20px;
    align-items: center;
    background: #242424;
}

.searchbox input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    
}

.bi-search{
    color: #fff;
}

.add{
    align-items: center;
    margin:0;
    padding: 0;
    width: 75%; 
    text-align: center; 
}

.input-container {
    display: flex; 
    align-items: center; 
}

.input-container input {
    flex: 1; 
    padding: 8px; 
    margin-right: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}
